docs/*
!docs/Doxyfile
Debug/*
Release/*
.*
moc_*
## VS files
*.sln
*.vcproj
*.ncb
*.user
*.htm
*.manifest
*.idb
*.pdb
*.exe
*.obj
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.qrc
*.dll
## VS diretories
[Bb]in
[Dd]ebug*/
[Rr]elease*/
obj/
dominator/
_ReSharper*/
## Thumbnails created by Windows
Thumbs.db